
  *{
margin:0; padding:0;
}
#shapka{
background-color:#8A25C0;
min-width:980px; max-width:1200px;
margin:0 auto 0 auto;
border-radius: 20px 20px 0 0;
border:2px solid #062A2A;
width:800px;}
body{background:url(images/f2.jpg) repeat;}
.logotip{margin:-7px 0 2px 5px;}
.image1{margin:0 auto -5px auto;}
#contact{
float:right;
margin: 0 5px 10px 0;
padding: 5px 40px 5px 5px;}
#contact p{font-size:16px; font-family: Tahoma; margin: 4px 5px 5px 5px; color: #FFFFFF;}


  body {color: black;
  background: linear-gradient(
    45deg,
    #D6EAF8,
    #D6EAF8 50%,
    #EBF5FB 50%,
    #EBF5FB  
  );
    margin: 60px auto;
    width: 70%;
}
  
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}


nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


.active {
    background-color: #ffe789;
    color: white;
}



